.nawWrapper {
    display: flex;
    justify-content: flex-end;
    width: 97%;
    margin: 20px 0 0 0;
    padding: 0 70px 0 0;
    box-sizing: border-box;
}

.userInfoWrapper {
    display: flex;
}

.logoWrapper {
    flex: 1 1 auto;
    justify-content: flex-start;
}

.logo {
    width: 100px;
    height: 100px;
    margin: 0 0 0 0px;
}

.navLink {
    text-decoration: none;
}
