.bookWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.ratingWrapper {
  position: relative;
  height: 50px;
  width: 150px;
}

.bookNameWrapper {
    font-size: 25px;
}

.buttonModalOff {
    position: fixed;
    z-index: -10;
    top: 50px;
    right: 50px;
    opacity: 0;
    transition: 0.5s;
}

.activeButtonModalOff {
    z-index: 15;
    opacity: 1;
}
