.bookWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: 964px;
}

.bookDetailWrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.posterWrapper {
    width: 50%;
    display: flex;
}

.descriptionWrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.bookNameWrapper {
    font-size: 25px;
}

.buttonModalOff {
    position: fixed;
    z-index: -10;
    top: 50px;
    right: 50px;
    opacity: 0;
    transition: 0.5s;
}

.activeButtonModalOff {
    z-index: 15;
    opacity: 1;
}
