.buttonModalOff {
    position: relative;
    display: flex;
    justify-content: flex-end;
    z-index: -10;
    opacity: 0;
    transition: 0.5s;
}

.activeButtonModalOff {
    z-index: 2015;
    opacity: 1;
}

.dragScroll {
    height: 100%;
    width: 100%;
    overflow: auto;
    font-size: 20px;
}

.dragScroll:hover {
    cursor: grab;
}
