.modal {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    opacity: 0;
    z-index: -10;
    transition: 0.5s;
    backdrop-filter: blur(5px);
}

.activeModal {
    opacity: 1;
    z-index: 11;
}

.ContentModal {
    height: 100%;
    padding: 20px;
    background-color: white;
    width: 50%;
    font-size: 25px;
    z-index: 12;
    transform: scale(0.5);
    transition: 0.4s;
    overflow-y: scroll;
}



.activeContentModal {
    transform: scale(1);
}
