.footerContainer {
    display: flex;
    justify-content: center;
    z-index: 10;
}

.footerWrapper {
    display: flex;
    justify-content: center;
    background-position: center;
    background-size: 80% 90%;
    background-repeat: no-repeat;
    width: 80%;
}

.footerCatWrapper {
    width: 15%;
    min-width: 100px;
    max-width: 120px;
    display: flex;
    align-items: center;
}

.footerContentWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 68%;
}

@media (max-width: 600px) {
    .footerWrapper {
        background-size: 95% 90%;
        width: 95%;
    }
    .footerContentWrapper {
        font-size: 11px;
        margin: 0 10px;
    }
}
