.footerContainer {
    display: flex;
    justify-content: center;

    height: 200px;
    z-index: 10;

}

.footerWrapper {
    display: flex;
    justify-content: center;
    
    width: 80%;
}

.footerCatWrapper {
    width: 30%;
    border: 1px solid blue;
}

.footerContentWrapper {
    border: 2px solid red;
    width: 68%;
}
