.loginWrap {
	display: flex;
	width: 100%;
	max-width: 600px;
	min-width: 300px;
	flex-direction: column;
	margin: 10px 15px;
	background-color: white;
	padding: 15px 15px 20px 15px;
	border-radius: 10px;
	background-color: #f0f5fb;
}

.title {
	font-size: 34px;
	text-align: center;
}

.newPostWrap form {
	display: flex;
	width: 100%
}

.googleButton {
	margin: 24px 0 8px 0;
	background-color: #e9e9e9;
}
