.bookWrapper {
    position: relative;
    height: 100%;
    overflow: hidden;
}

.navLink {
    z-index: 2000;
    text-decoration: none;
    cursor: pointer;
}

.readButton {
    width: 80px;
    z-index: 2001;
    position: absolute;
    transform: translate(0, -50px) rotate(360deg) scale(0.3);
    transition: 0.6s;
}

.hoverButton {
    z-index: 2001;
    transform: translate(0, 50px) rotate(0deg) scale(1);
}

.scrollAnimation {
  height: 100%;
}
